.hi {
  margin: 0;
}
.hi-im-rafly-container {
  position: relative;
  display: inline-block;
  max-width: 1024px;
}
.img-8214-removebg-preview-1-icon {
  position: relative;
  width: 1011px;
  height: 192px;
  object-fit: cover;
}
.heading-1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 57px var(--padding-0) var(--padding-0);
}
.with-great-powers {
  position: relative;
  display: inline-block;
  max-width: 512px;
}
.contact-me,
.pabout-text {
  font-family: var(--font-poppins);
}
.pabout-text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-mid) var(--padding-0) var(--padding-0);
  font-size: var(--font-size-mini);
}
.contact-me {
  position: relative;
  font-size: var(--gee4igithubio-inter-semi-bold-1575-size);
  letter-spacing: 0.19em;
  font-weight: 600;
  color: var(--color-white);
  text-align: left;
}
.divhome-data,
.link {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link {
  cursor: pointer;
  border: 3px solid #313131;
  padding: 11px var(--padding-21xl) 12px;
  background-color: transparent;
  border-radius: var(--br-5xs);
  flex-direction: row;
}
.divhome-data {
  align-self: stretch;
  flex-direction: column;
  gap: 38px;
}
.vector-icon {
  position: absolute;
  height: 72.75%;
  width: 75.88%;
  top: -86.75%;
  right: 24.12%;
  bottom: 114%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 24px;
  height: 25px;
  overflow: hidden;
  flex-shrink: 0;
}
.link1 {
  position: absolute;
  top: -1px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.linkmargin {
  position: relative;
  width: 56px;
  height: 28px;
}
.vector-icon1 {
  position: absolute;
  height: 77.89%;
  width: 83.11%;
  top: -90.03%;
  right: 16.89%;
  bottom: 112.14%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.divhome-social,
.link2,
.section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.link2 {
  position: absolute;
  top: -1px;
  left: 0;
  cursor: pointer;
}
.divhome-social,
.section {
  padding: var(--padding-0) 912px var(--padding-21xl) var(--padding-0);
}
.section {
  width: 1024px;
  flex-direction: column;
  padding: 158px var(--padding-0) 32px;
  box-sizing: border-box;
  gap: 80px;
  max-width: 1024px;
  text-align: left;
  font-size: var(--gee4igithubio-inter-bold-5436-size);
}
.about-me {
  position: relative;
  display: inline-block;
  max-width: 1920px;
  z-index: 0;
}
.after-icon {
  position: absolute;
  margin: 0 !important;
  top: 45.47px;
  left: 887.1px;
  width: 147px;
  height: 2px;
  z-index: 1;
}
.heading-2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-0) 913.39501953125px var(--padding-12xs)
    913.60498046875px;
  position: relative;
  z-index: 1;
}
.divabout-img-icon {
  position: absolute;
  top: -164.53px;
  left: -133.9px;
  width: 400px;
  height: 644px;
  object-fit: cover;
}
.heading-21,
.pabout-text1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 427px 2.384185791015625e-7px var(--padding-0);
}
.pabout-text1 {
  padding: var(--padding-0) var(--padding-mid) var(--padding-0) var(--padding-0);
  font-size: var(--font-size-mini);
}
.div,
.frame {
  position: absolute;
}
.div {
  width: 100%;
  top: 310.53px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.frame {
  top: -164.53px;
  left: 441.1px;
  width: 512px;
  height: 431.53px;
  overflow: hidden;
}
.divabout-container {
  position: relative;
  width: 1024px;
  height: 432px;
  max-width: 1024px;
  z-index: 0;
  text-align: left;
  font-size: 23.81px;
  font-family: var(--font-poppins);
}
.after,
.section1 {
  background-color: var(--color-lightgray);
}
.section1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-61xl) var(--padding-0) var(--padding-29xl);
  gap: var(--gap-28xl);
  color: var(--color-black);
}
.after {
  position: absolute;
  margin: 0 !important;
  top: 49px;
  left: 920px;
  width: 80px;
  height: 2.88px;
  z-index: 1;
}
.heading-22 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-0) 917.9049682617188px var(--padding-0)
    918.0950317382812px;
  position: relative;
}
.whatsapp-image-2023-11-29-at-2 {
  position: absolute;
  top: 0;
  left: 0.1px;
  width: 496px;
  height: 554px;
  object-fit: cover;
}
.skill1jpg {
  width: 100%;
  position: relative;
  border-radius: var(--br-5xs);
  height: 496px;
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(./public/skill1jpg@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 1;
  max-width: 496px;
}
.div1 {
  width: 496px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.all-about-music {
  position: relative;
  display: inline-block;
  max-width: 496px;
}
.heading-23 {
  position: absolute;
  width: 100%;
  top: -1px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 296px 2.384185791015625e-7px var(--padding-0);
  box-sizing: border-box;
}
.learn-more,
.music-is-everything {
  margin: 0;
  font-family: var(--font-poppins);
}
.music-is-everything {
  color: var(--color-white);
}
.learn-more {
  font-weight: 600;
  color: #939393;
}
.music-is-everything-container {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-mini);
  text-align: left;
  display: inline-block;
  max-width: 496px;
}
.pskills-text {
  position: absolute;
  width: 100%;
  top: 44px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 22px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.div2 {
  position: relative;
  width: 496px;
  height: 566px;
}
.divskills-container {
  width: 1024px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
  max-width: 1024px;
  text-align: left;
  font-size: 23.81px;
  font-family: var(--gee4igithubio-inter-semi-bold-1563);
}
.after1,
.section2 {
  background-color: var(--color-black);
}
.section2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-61xl) var(--padding-0) var(--padding-29xl);
  gap: 46px;
  font-size: var(--gee4igithubio-inter-semi-bold-32-size);
  font-family: var(--font-poppins);
}
.after1 {
  position: absolute;
  margin: 0 !important;
  top: 49px;
  left: 920px;
  width: 80px;
  height: 2.88px;
  z-index: 1;
}
.heading-24 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-0) 919.9099731445312px var(--padding-12xs)
    920.0900268554688px;
  position: relative;
  z-index: 1;
}
.hobby-1-icon {
  position: absolute;
  top: 0.47px;
  left: calc(50% - 236.9px);
  width: 474.33px;
  height: 500px;
  object-fit: cover;
}
.masterpiece {
  margin: 0;
  font-weight: 600;
}
.masterpiece-behold-the-container1 {
  line-break: anywhere;
  width: 100%;
}
.masterpiece-behold-the-container {
  position: absolute;
  top: 78px;
  left: 0;
  background: linear-gradient(#000, #000), linear-gradient(#000, #000), #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  width: 451px;
}
.frame1 {
  top: 0.47px;
  left: 0.1px;
  height: 239px;
  overflow: hidden;
}
.frame1,
.frame2,
.its-a-symphony {
  position: absolute;
  width: 451px;
}
.its-a-symphony {
  top: 101px;
  left: 0;
  background: linear-gradient(#000, #000), linear-gradient(#000, #000), #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
}
.frame2 {
  top: 0.47px;
  left: 1003.1px;
  height: 216px;
  overflow: hidden;
}
.divwork-container {
  position: relative;
  width: 1454px;
  height: 724px;
  z-index: 0;
  text-align: left;
  font-size: var(--font-size-mini);
  font-family: var(--font-poppins);
}
.main,
.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.section3 {
  align-self: stretch;
  background-color: var(--color-lightgray);
  height: 889px;
  padding: var(--padding-61xl) var(--padding-0) var(--padding-29xl);
  box-sizing: border-box;
  gap: var(--gap-28xl);
  color: var(--color-black);
}
.main {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: #00000a;
}
.rafflesrapp {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--gee4igithubio-inter-semi-bold-32-size);
  font-weight: 600;
  font-family: var(--gee4igithubio-inter-semi-bold-1563);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  max-width: 1920px;
}
.pfooter-title {
  position: absolute;
  width: 100%;
  top: 31px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-0) 847.405029296875px var(--padding-0)
    847.594970703125px;
  box-sizing: border-box;
}
.vector-icon2 {
  position: absolute;
  height: 72%;
  width: 38.87%;
  top: -86%;
  right: 61.13%;
  bottom: 114%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.before,
.link3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.link3 {
  justify-content: center;
  padding: var(--padding-0) var(--padding-0) var(--padding-10xs);
  cursor: pointer;
}
.vector-icon3 {
  position: absolute;
  height: 72.19%;
  width: 75%;
  top: -86%;
  right: 25%;
  bottom: 113.81%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.before1,
.link4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.before1 {
  justify-content: flex-start;
  cursor: pointer;
}
.link4 {
  justify-content: center;
  padding: var(--padding-0) var(--padding-0) var(--padding-10xs);
}
.vector-icon4 {
  position: absolute;
  height: 63.94%;
  width: 81.93%;
  top: -81.97%;
  right: 18.07%;
  bottom: 118.03%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.divfooter-social {
  position: absolute;
  width: 100%;
  top: 100px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 887.5499877929688px;
  box-sizing: border-box;
  gap: 36.5px;
}
.copyright-rafflesrapp-all {
  position: relative;
  font-weight: 600;
  display: inline-block;
  max-width: 1920px;
}
.footer,
.pfooter-copy {
  position: absolute;
  width: 100%;
}
.pfooter-copy {
  top: 161px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-0) 860.905029296875px var(--padding-0)
    861.094970703125px;
  box-sizing: border-box;
}
.footer {
  top: 2982.47px;
  right: -0.1px;
  left: 0.1px;
  background-color: var(--color-black);
  height: 209px;
  font-size: var(--gee4igithubio-inter-semi-bold-1345-size);
}
.item-link,
.r {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--gee4igithubio-inter-semi-bold-1563-size);
  font-weight: 600;
  font-family: var(--gee4igithubio-inter-semi-bold-1563);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.item-link {
  position: absolute;
  top: -1px;
  left: 48px;
}
.itemmargin {
  position: relative;
  width: 94.2px;
  height: 18px;
}
.item-link1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: -1px;
  left: 48px;
  font-size: var(--gee4igithubio-inter-semi-bold-16-size);
  font-weight: 600;
  font-family: var(--gee4igithubio-inter-semi-bold-1563);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.itemmargin1 {
  position: relative;
  width: 89.81px;
  height: 18px;
}
.item-link2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: -1px;
  left: 48px;
  font-size: var(--gee4igithubio-inter-semi-bold-1575-size);
  font-weight: 600;
  font-family: var(--gee4igithubio-inter-semi-bold-1563);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.itemmargin2 {
  position: relative;
  width: 87.72px;
  height: 18px;
}
.home {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--gee4igithubio-inter-semi-bold-1563-size);
  font-weight: 600;
  font-family: var(--gee4igithubio-inter-semi-bold-1563);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  z-index: 0;
}
.after2 {
  position: absolute;
  margin: 0 !important;
  width: 98.78%;
  top: 33px;
  right: 1.22%;
  left: 0;
  background-color: var(--color-white);
  height: 2.88px;
  z-index: 1;
}
.item-link3 {
  position: absolute;
  top: -1px;
  left: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.itemmargin3 {
  position: relative;
  width: 92.45px;
  height: 18px;
}
.divnav-menu,
.list,
.nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.list {
  align-self: stretch;
  flex-direction: row;
}
.divnav-menu,
.nav {
  flex-direction: column;
}
.nav {
  width: 1024px;
  height: 72px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 26px 0.010009765625px 27px var(--padding-0);
  box-sizing: border-box;
  max-width: 1024px;
}
.header {
  position: absolute;
  width: 100%;
  top: 0.47px;
  right: -0.1px;
  left: 0.1px;
  background-color: var(--color-black);
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.gee4igithubio-by-htmltodes {
  position: relative;
  width: 100%;
  height: 3252.83px;
  text-align: center;
  font-size: var(--gee4igithubio-inter-bold-3075-size);
  color: var(--color-white);
  font-family: var(--gee4igithubio-inter-semi-bold-1563);
}
